{% extends "base.html" %}
{% block content %}
    <div class="row ml-3 mr-3">
        <div class="content-section mt-4">
            <h3>About Alternative Fuel Tracker</h3>
            <p>
                AFT helps connect those looking for alternative energy with the stations that carry it. You can find stations within your desired radius, then get directions right to them.
                <br>
                <br>
                To get started, enter a location you'd like to search and see what's out there!
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <small>AFT is proudly powered by Google APIs and the National Renewable Energy Labs API.</small>
            </p>
        </div>
    </div>
{% endblock content %}