<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}"></link>
    <title>Alternative Fuel Tracker</title>
</head>
<body>
  <header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark">
      <div class="container">
        <a class="navbar-brand mr-4" href="/"><strong>Alternative Fuel Tracker</strong></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggle">
          <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link" href="/">Search</a>
            <a class="nav-item nav-link" href="">About</a>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <main role="main" class="container">
      <div class="row pl-5">
          <div class="row">
              <div class="col-md-12 pb-2">
                <div class="content-section mt-3">
                  <h5>Enter an adresss, city/state, or zip. Then select your desired fuel type and max distance.</h5>
                  <form class="form-inline" method="POST" action="{{ url_for('main.search') }}">
                    {{ form.hidden_tag() }}
                    <fieldset class="form-group">
                      <div class="form-group">
                        {{ form.address_city_state_zip.label(class="form-control-label mr-2") }}
                        {% if form.address_city_state_zip.errors %}
                          {{ form.address_city_state_zip(class="form-control form-control-md is-invalid") }}
                          <div class="invalid-feedback">
                            {% for error in form.address_city_state_zip.errors %}
                              <span>{{ error }}</span>
                            {% endfor %}
                          </div>
                        {% else %}
                          {{ form.address_city_state_zip(class="form-control form-control-md mr-3") }}
                        {% endif %}
                      </div>
                      <div class="form-group">
                        {{ form.fuel_type.label(class="form-control-label mr-2") }}
                        {% if form.fuel_type.errors %}
                          {{ form.fuel_type(class="form-control form-control-md is-invalid") }}
                          <div class="invalid-feedback">
                            {% for error in form.fuel_type.errors %}
                              <span>{{ error }}</span>
                            {% endfor %}
                          </div>
                        {% else %}
                          {{ form.fuel_type(class="form-control form-control-md mr-3") }}
                        {% endif %}
                      </div>
                      <div class="form-group">
                        {{ form.distance_radius.label(class="form-control-label mr-2") }}
                        {% if form.distance_radius.errors %}
                          {{ form.distance_radius(class="form-control form-control-md is-invalid") }}
                          <div class="invalid-feedback">
                            {% for error in form.distance_radius.errors %}
                              <span>{{ error }}</span>
                            {% endfor %}
                          </div>
                        {% else %}
                          {{ form.distance_radius(class="form-control form-control-md mr-5") }}
                        {% endif %}
                      </div>
                    </fieldset>
                    <div class="form-group">
                      {{ form.submit(class="btn btn-secondary") }}
                    </div>
                  </form>
                </div>
              </div>
          </div>
          <div class="col-md-5">
            <div class="container scroll">
                {% block content %}
                {% endblock %}
            </div>
          </div>
          <div class="col-md-7">
              <div class="container">
                  <div id="map"></div>
              </div>    
          </div>
      </div>
    </main>
    <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap&libraries=&v=weekly" async></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
