{% extends "base.html" %}
{% block content %}
  {% if form.validate_on_submit() %}
  {% if results_found %}
  <div class="content-section mt-3">
    <h3> {{results_found}} stations found near {{ form.address_city_state_zip.data }}</h3>
      <ul class="list-group">
        {% for location in locations %}
        <article class="media">
          <div class="media-body">
            <h5>
              <strong name="placeName">{{ location["station_name"] }}</strong>
              <small> (Last confirmed: {{ location["date_last_confirmed"] }})</small>
            </h5>
            <hr>
            <p name="placeAddress">
              {{ location["street_address"] }}, {{ location["city"] }}, {{ location["state"]}} , {{ location["zip"] }}
            </p>
            <div class="text-right">
              <strong>{{ location["distance"] }}</strong> miles
              <a href="{{ url_for('main.directions', origin=form.address_city_state_zip.data,
                destination=location['street_address'] +' '+ location['city'] +' '+ location['state']
                +' '+ location['zip']) }}" target="_blank">
                <button type="button" class="btn btn-sm btn-light">Directions</button>
              </a>
              </div>
          </div>
        </article>
        {% endfor %}
      </ul>
  </div>
  {% else %}
  <div class="content-section mt-3">
    <h5>No results found</h5>
  </div>
  {% endif %}
  {% endif %}
{% endblock %}